                    .navbarstyle {
                        margin: 0.5% 0.8% 0.8% 0.8%;
                        background-color: #0070C0 !important;
                        border-radius: 15px;
                        height: 85px
                    }
                    
                    .navbarstyle2 {
                        margin-left: 15% !important;
                        margin-top: 1% !important;
                        background-color: #0070C0!important;
                        border-radius: 15px;
                        height: 70px
                    }
                    
                    .containset {
                        width: 70% !important;
                        padding-left: 0% !important
                    }
                    
                    .form {
                        position: relative;
                    }
                    
                    .elem {
                        text-align: center;
                        margin: 34px;
                        font-size: 25px;
                        text-shadow: 0.25px 0.25px #ffffff;
                        font-family: "Calibri, sans-serif";
                        color: #ffffff;
                        z-index: -1;
                    }
                    
                    .addss {
                        background-color: #0070C0!important;
                        height: 400px;
                    }
                    
                    .addcss {
                        height: 30px !important;
                        background-color: #0070C0 !important;
                    }
                    
                    .iconclick {
                        margin: 1% !important;
                    }
                    
                    .leftcolumn {
                        background-color: #0070C0!important;
                        height: 100px;
                        width: 81% !important;
                        margin-left: 19% !important;
                        margin-right: 2% !important;
                        border-radius: 15px !important;
                        color: white;
                        position: absolute;
                    }
                    
                    .leftcol {
                        background-color: #0070C0!important;
                        margin-right: 10px !important;
                        font-color: #0070C0 !important;
                        height: 85%;
                        margin-left: 2% !important;
                        position: absolute !important;
                        margin-top: 0% !important;
                    }
                    
                    ol {
                        height: 100px;
                        width: 97%;
                    }
                    
                    ol {
                        overflow: hidden;
                        overflow-y: scroll;
                    }
                    
                    .mostright {}
                    
                    .mapcontain {
                        margin-left: 19% !important;
                        margin-top: 8% !important;
                        width: 50% !important;
                    }
                    
                    .scroller {
                        margin: 0 auto;
                        height: 300px;
                        width: 300px;
                        overflow: auto;
                    }
                    
                    .arrangecolumn {
                        background-color: #0070C0 !important;
                        margin-left: 63% !important;
                        position: absolute !important;
                        height: 70% !important;
                        border-radius: 15px;
                    }
                    
                    .indiv-row {
                        padding: 25% 0 1% 25% !important;
                        font-family: "Calibri, sans-serif";
                        font-size: 22px;
                        color: white;
                    }
                    
                    .insec-row {
                        padding: 1% 0 1% 30%;
                        font-family: "Calibri, sans-serif";
                        font-size: 20px;
                        color: white;
                    }
                    
                    .inpfield1 {
                        margin-top: 10% !important;
                        border-radius: 3px;
                        margin-right: 1% !important;
                    }
                    
                    .inpfield {
                        border-radius: 5px;
                        margin-left: 3% !important;
                        margin-top: 1% !important;
                        margin-right: 2% !important;
                    }
                    
                    .btnbe {
                        margin: 2px
                    }
                    
                    .btndiv {
                        margin-top: 26%;
                        padding: 2px;
                        position: bottom !important;
                    }
                    
                    @media (min-width: 770px) and (max-width: 1292px) {
                        .mapcontain {
                            margin-top: 120px!important;
                        }
                        .inpfield1 {
                            /* margin-top: 10% !important; */
                            border-radius: 3px;
                            /* margin-right: 1% !important; */
                            width: 40% !important;
                        }
                        .inpfield {
                            border-radius: 3px;
                            margin-top: 1% !important;
                            /* margin-right: 1% !important; */
                            width: 80% !important;
                        }
                    }
                    
                    @media (max-width: 770px) {
                        .leftcolumn {
                            position: unset;
                            width: 100%;
                            /* position: unset; */
                            /* width: unset !important; */
                            margin: 0.5% 0.8% 0.8% 1%;
                            margin-left: 3% !important;
                        }
                        .leftcol {
                            flex-direction: row !important;
                            height: 20%;
                            border-radius: 15px;
                            margin: 0.5% 0.8% 0.8% 0.8%;
                            position: absolute !important;
                        }
                        .arrangecolumn {
                            display: none !important;
                        }
                        .mapcontain {
                            width: 0%;
                        }
                        .mapset {
                            margin-left: 0% !important;
                            width: 150% !important;
                            height: 50vh;
                            margin-top: 90px !important;
                        }
                        .inpfield1 {
                            /* margin-top: 10% !important; */
                            border-radius: 3px;
                            /* margin-right: 1% !important; */
                            width: 170px !important;
                        }
                        .inpfield {
                            border-radius: 3px;
                            margin-top: 1% !important;
                            /* margin-right: 1% !important; */
                            width: 80% !important;
                        }
                    }
                    /* @media (max-width:768px) {
                        .navbarstyle {
                            width: 90% !important;
                            margin: 0% !important;
                            padding: 0% !important;
                            position: unset !important
                        }
                        
                        .leftcol {
                            position: unset;
                            width: unset;
                        }
                        
                        .leftcolumn {
                            position: unset;
                            width: unset;
                        }
                        
                        .mapcontain {
                            margin: 0 !important;
                            width: 70% !important;
                            height: 50vh;
                            margin-right: 1% !important;
                        }
                    } */
                    /* @media (min-width: 200px) and (max-width: 640px) {
                                    .leftcolumn {
                                        margin: 1% !important;
                                        border-radius: 15px !important;
                                        margin-right: 1% !important;
                                        height: 70px;
                                        position: unset;
                                        width: unset;
                                    }
                                }
                                
                                @media (min-width: 200px) and (max-width: 640px) {
                                    .arrangecolumn {
                                        display: none !important;
                                    }
                                }
                                 */
                    /* @media only screen and (max-width: 600px) {
                        .leftcol {
                            position: unset !important;
                            width: unset !important;
                        }
                        
                        .mapcontain {
                            position: unset !important;
                            margin-top: 20% !important;
                            width: 100% !important;
                        }
                        
                        .leftcolumn {
                            position: unset !important;
                        }
                    }
                    /* Small devices (portrait tablets and large phones, 600px and up) */
                    /* @media only screen and (min-width: 600px) {
                        .example {
                            background: green;
                        }
                    }
                    /* Medium devices (landscape tablets, 768px and up) */
                    /* @media only screen and (min-width: 768px) {
                        .example {
                            background: blue;
                        }
                    } */
                    /* Large devices (laptops/desktops, 992px and up) */
                    /* @media only screen and (min-width: 992px) {
                        .example {
                            background: orange;
                        }
                    } */
                    /* Extra large devices (large laptops and desktops, 1200px and up) */
                    /* @media only screen and (min-width: 1200px) {
                        .example {
                            background: pink;
                        }
                    } */